@font-face {
    font-family: 'vic-font'; /*a name to be used later*/
    src: url('font/vic-font.ttf'); /*URL to font*/
}
html,body{	
	background-color: #6abcba;
	font-family:"vic-font";
}
.coverAnim{
	animation-name:opencover;
	animation-duration:1s;
	animation-fill-mode: forwards;
}
.reloadCover{
	animation-name:closecover;
	animation-duration:0.5s;
	animation-fill-mode: forwards;
}
@keyframes opencover{
    0%   {transform:rotateX(0deg);}
    100% {transform:rotateX(90deg);}
}
@keyframes closecover{
	
	100%	{transform:rotateX(0deg);}
}
#reload-button{
	width:64px;
}
#center{
	text-align:center;
}
#bob-title{
		margin-top:15%;
		font-size:20px;
	}
#bob-img{
	border-style: dotted;
	border-width: 2px;
	max-width:160px;
	max-height:150px;
}
#bobby-stuff,#cover{
	position:absolute;
	margin-left:auto;
	margin-right:auto;
	background-size:100% 100%;
	height:60%;
	width:96%;
}

#bobby-stuff{
		z-index: 1;
		background-image: url('marco-bob.png');
		background-repeat: no-repeat;
		background-position-x: center;
	}
	#cover{
		z-index: 2;
		background-image: url('marco-bob-cover.png');
		background-repeat: no-repeat;
		background-position-x: center;
		transform-origin: top;
	}

/*********************************************************************************
*
*			PANTALLA GRANDER
*
**********************************************************************************/
@media only screen and (min-width: 768px) {

	#bob-title{
		margin-top: 7%;
		font-size: 40px;
		margin-bottom: 0px;
	}
	#bob-img{
		border-style: dotted;
		border-width: 4px;
		max-width:100%;
		max-height:100%;
	}
	#bob-desc{

	}

	#right,#left{
		width:10%;
		background-image: url("marco.svg");
		height:100vh;
		margin-top:-10px;
		background-repeat: repeat-y;
		background-size: contain; 
		float:left;
	}
	#center{
		float: left;
		min-width: 80%;
		text-align:center;
	}
	#bobby-stuff,#cover{
		position:absolute;
		margin-left: auto;
		margin-right: auto;
		width: 80%;
		height: 62%;
		background-size:contain;
	}
	#logo{
		width:15%
	}
}